<!-- breadcrumb start-->
 <section class="breadcrumb breadcrumb_bg">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                      <div class="breadcrumb_iner_item">
                          <p>Home/Shop/Chi tiết sản phẩm</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner">
        <div class="col-lg-5">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="img/product_details/prodect_details_1.png">
                <img src="img/product_details/prodect_details_1.png" />
              </div>
              <div data-thumb="img/product_details/prodect_details_2.png">
                <img src="img/product_details/prodect_details_2.png"/>
              </div>
              <div data-thumb="img/product_details/prodect_details_3.png">
                <img src="img/product_details/prodect_details_3.png" />
              </div>
              <div data-thumb="img/product_details/prodect_details_4.png">
                <img src="img/product_details/prodect_details_4.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <h3>Quần jean rách SkyBlu</h3>
            <h2>$149.99</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Danh mục</span> : Hộ gia đình</a>
              </li>
              <li>
                <a href="#"> <span>Có sẵn</span> : Còn hàng</a>
              </li>
            </ul>
            <p>
                Mill Oil là một bộ tản nhiệt đầy dầu sáng tạo với công nghệ hiện đại nhất. Nếu bạn đang tìm kiếm một cái gì đó có thể làm cho nội thất của bạn trông tuyệt vời, đồng thời.
            </p>
            <div class="card_area">
              <div class="product_count d-inline-block">
                <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="number-increment"> <i class="ti-plus"></i></span>
              </div>
              <div class="add_to_cart">
                  <a href="#" class="btn_3">Thêm vào giỏ</a>
                  <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
              </div>
              <div class="social_icon">
                  <a href="#" class="fb"><i class="ti-facebook"></i></a>
                  <a href="#" class="tw"><i class="ti-twitter-alt"></i></a>
                  <a href="#" class="li"><i class="ti-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Miêu tả</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Đặc điểm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Bình luận</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
            aria-selected="false">Đánh giá</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p>
            Beryl Cook là một trong những nghệ sĩ tài năng và thú vị nhất nước Anh. Những bức ảnh của Beryl có những người phụ nữ ở mọi hình dạng và kích cỡ thích thú. Giữa hai cuộc chiến tranh thế giới, Beryl Cook cuối cùng rời trường Kendrick ở Reading năm 15 tuổi, nơi cô đến thư ký trường học và sau đó vào một văn phòng bảo hiểm. Sau khi chuyển đến London và sau đó là Hampton, cuối cùng cô kết hôn với người hàng xóm bên cạnh từ Reading, John Cook. Ông là một sĩ quan trong Hải quân Merchant và sau khi ông rời biển vào năm 1956, họ đã mua một quán rượu trong một năm trước khi John nhận một công việc ở Nam Rhodesia với một công ty xe máy. Beryl đã mua cho con trai nhỏ của họ một hộp màu nước, và khi chỉ cho anh ta cách sử dụng nó, Cô quyết định rằng bản thân cô khá thích vẽ tranh. John sau đó đã mua cho cô một bộ tranh dành cho trẻ em vào ngày sinh nhật của cô và chính với điều này, cô đã tạo ra tác phẩm quan trọng đầu tiên của mình, một bức chân dung dài một nửa của một phụ nữ da ngăm đen với biểu cảm trống rỗng và bộ ngực lớn. Nó được đặt tên một cách khéo léo là 'Hangover' bởi chồng của Beryl và
          </p>
          <p>
            Nó thường là bực bội khi cố gắng lên kế hoạch cho các bữa ăn được thiết kế cho một. Mặc dù thực tế này, chúng ta đang thấy ngày càng nhiều sách công thức và các trang web Internet dành riêng cho hành động nấu ăn cho một người. Ly hôn và cái chết của vợ hoặc chồng trưởng thành rời trường đại học là những lý do khiến ai đó quen nấu ăn hơn một người đột nhiên cần học cách điều chỉnh tất cả các cách nấu ăn được sử dụng trước đây thành một kế hoạch nấu ăn hợp lý, hiệu quả hơn cho một người người tạo ra ít hơn
          </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <h5>Chiều rộng</h5>
                  </td>
                  <td>
                    <h5>128mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Chiều cao</h5>
                  </td>
                  <td>
                    <h5>508mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Chiều sâu</h5>
                  </td>
                  <td>
                    <h5>85mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Cân nặng</h5>
                  </td>
                  <td>
                    <h5>52gm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Chất lượng</h5>
                  </td>
                  <td>
                    <h5>yes</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Thời gian vận chuyển</h5>
                  </td>
                  <td>
                    <h5>03days</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Khi đóng gói</h5>
                  </td>
                  <td>
                    <h5>Không cần chạm tay</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Mỗi hộp chứa</h5>
                  </td>
                  <td>
                    <h5>60 chiếc</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="comment_list">
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-1.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Trả lời</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit Amet, consectetur adipiscing elit, sed tempor và sức sống, do đó lao động và nỗi buồn, một số điều quan trọng cần làm eiusmod. Trong những năm qua tất cả những gì sẽ đến, vì vậy mà những nỗ lực kích thích kinh tế nếu aliquip khu học ra khỏi cô lợi thế của bất kỳ tập thể dục một nostrud,
                  </p>
                </div>
                <div class="review_item reply">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-2.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Trả lời</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit Amet, consectetur adipiscing elit, sed tempor và sức sống, do đó lao động và nỗi buồn, một số điều quan trọng cần làm eiusmod. Trong những năm qua tất cả những gì sẽ đến, vì vậy mà những nỗ lực kích thích kinh tế nếu aliquip khu học ra khỏi cô lợi thế của bất kỳ tập thể dục một nostrud,
                  </p>
                </div>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-3.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Trả lời</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit Amet, consectetur adipiscing elit, sed tempor và sức sống, do đó lao động và nỗi buồn, một số điều quan trọng cần làm eiusmod. Trong những năm qua tất cả những gì sẽ đến, vì vậy mà những nỗ lực kích thích kinh tế nếu aliquip khu học ra khỏi cô lợi thế của bất kỳ tập thể dục một nostrud,
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="review_box">
                <h4>Đăng bình luận</h4>
                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                  novalidate="novalidate">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Họ và Tên" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="number" name="number" placeholder="Số điện thoại" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" id="message" rows="1"
                        placeholder="Tin nhắn"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" value="submit" class="btn_3">
                      Gửi ngay
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="row total_rate">
                <div class="col-6">
                  <div class="box_total">
                    <h5>Overall</h5>
                    <h4>4.0</h4>
                    <h6>(03 đánh giá)</h6>
                  </div>
                </div>
                <div class="col-6">
                  <div class="rating_list">
                    <h3>Based on 3 Reviews</h3>
                    <ul class="list">
                      <li>
                        <a href="#">5 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">4 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">3 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">2 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">1 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="review_list">
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-1.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit Amet, consectetur adipiscing elit, sed tempor và sức sống, do đó lao động và nỗi buồn, một số điều quan trọng cần làm eiusmod. Trong những năm qua tất cả những gì sẽ đến, vì vậy mà những nỗ lực kích thích kinh tế nếu aliquip khu học ra khỏi cô lợi thế của bất kỳ tập thể dục một nostrud,
                  </p>
                </div>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-2.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <p>
                   Lorem ipsum dolor sit Amet, consectetur adipiscing elit, sed tempor và sức sống, do đó lao động và nỗi buồn, một số điều quan trọng cần làm eiusmod. Trong những năm qua tất cả những gì sẽ đến, vì vậy mà những nỗ lực kích thích kinh tế nếu aliquip khu học ra khỏi cô lợi thế của bất kỳ tập thể dục một nostrud,
                  </p>
                </div>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-3.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit Amet, consectetur adipiscing elit, sed tempor và sức sống, do đó lao động và nỗi buồn, một số điều quan trọng cần làm eiusmod. Trong những năm qua tất cả những gì sẽ đến, vì vậy mà những nỗ lực kích thích kinh tế nếu aliquip khu học ra khỏi cô lợi thế của bất kỳ tập thể dục một nostrud,
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="review_box">
                <h4>Thêm đánh giá</h4>
                <p>Đánh giá của bạn:</p>
                <ul class="list">
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                </ul>
                <p>Nổi bật</p>
                <form class="row contact_form" >
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Họ và Tên" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Địa chỉ email" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="number" placeholder="Số điện thoại" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="1" placeholder="Đánh giá"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" value="submit" class="btn_3">
                      Gửi
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Product Description Area =================-->

  <!-- product_list part start-->
  <section class="product_list best_seller padding_bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <h2>Bán chạy nhất</h2>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-sm-6">
              <div class="single_category_product">
                  <div class="single_category_img">
                      <img src="img/category/category_2.png" alt="">
                      <div class="category_social_icon">
                          <ul>
                              <li><a href="#"><i class="ti-heart"></i></a></li>
                              <li><a href="#"><i class="ti-bag"></i></a></li>
                          </ul>
                      </div>
                      <div class="category_product_text">
                          <a href="/singleproduct"><h5>Áo thun dài tay</h5></a>
                          <p>$150.00</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="single_category_product">
                  <div class="single_category_img">
                      <img src="img/category/category_3.png" alt="">
                      <div class="category_social_icon">
                          <ul>
                              <li><a href="#"><i class="ti-heart"></i></a></li>
                              <li><a href="#"><i class="ti-bag"></i></a></li>
                          </ul>
                      </div>
                      <div class="category_product_text">
                          <a href="/singleproduct"><h5>Áo thun dài tay</h5></a>
                          <p>$150.00</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="single_category_product">
                  <div class="single_category_img">
                      <img src="img/category/category_4.png" alt="">
                      <div class="category_social_icon">
                          <ul>
                              <li><a href="#"><i class="ti-heart"></i></a></li>
                              <li><a href="#"><i class="ti-bag"></i></a></li>
                          </ul>
                      </div>
                      <div class="category_product_text">
                          <a href="/singleproduct"><h5>Áo thun dài tay</h5></a>
                          <p>$150.00</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="single_category_product">
                  <div class="single_category_img">
                      <img src="img/category/category_5.png" alt="">
                      <div class="category_social_icon">
                          <ul>
                              <li><a href="#"><i class="ti-heart"></i></a></li>
                              <li><a href="#"><i class="ti-bag"></i></a></li>
                          </ul>
                      </div>
                      <div class="category_product_text">
                          <a href="/singleproduct"><h5>Áo thun dài tay</h5></a>
                          <p>$150.00</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
  <!-- product_list part end-->

  <!-- shipping details part end-->
  <section class="shipping_details section_padding border_top">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="single_shopping_details">
                      <img src="img/icon/icon_1.png" alt="">
                      <h4>Free shipping</h4>
                      <p>Các sản phẩm mang lại giá trị tốt nhất cho người dùng</p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single_shopping_details">
                      <img src="img/icon/icon_2.png" alt="">
                      <h4>Free shipping</h4>
                      <p>Các sản phẩm mang lại giá trị tốt nhất cho người dùng</p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single_shopping_details">
                      <img src="img/icon/icon_3.png" alt="">
                      <h4>Free shipping</h4>
                      <p>Các sản phẩm mang lại giá trị tốt nhất cho người dùng</p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single_shopping_details">
                      <img src="img/icon/icon_4.png" alt="">
                      <h4>Free shipping</h4>
                      <p>Các sản phẩm mang lại giá trị tốt nhất cho người dùng</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- shipping details part end-->

  <!-- subscribe_area part start-->
  <section class="instagram_photo">
     <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                  <div class="instagram_photo_iner">
                      <div class="single_instgram_photo">
                          <img src="img/instagram/inst_1.png" alt="">
                          <a href="#"><i class="ti-instagram"></i></a> 
                      </div>
                      <div class="single_instgram_photo">
                          <img src="img/instagram/inst_2.png" alt="">
                          <a href="#"><i class="ti-instagram"></i></a> 
                      </div>
                      <div class="single_instgram_photo">
                          <img src="img/instagram/inst_3.png" alt="">
                          <a href="#"><i class="ti-instagram"></i></a> 
                      </div>
                      <div class="single_instgram_photo">
                          <img src="img/instagram/inst_4.png" alt="">
                          <a href="#"><i class="ti-instagram"></i></a> 
                      </div>
                      <div class="single_instgram_photo">
                          <img src="img/instagram/inst_5.png" alt="">
                          <a href="#"><i class="ti-instagram"></i></a> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--::subscribe_area part end::-->

  <!-- jquery plugins here-->
  <script src="js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="js/lightslider.min.js"></script>
  <!-- swiper js -->
  <script src="js/mixitup.min.js"></script>
  <script src="js/lightslider.min.js"></script>
  <!-- particles js -->
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="js/slick.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/contact.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/mail-script.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>