<section class="tracking_box_area section_padding">
  <div class="container">
    <h4 class="text-center">Thay đổi mật khẩu </h4>
    <div class="row align-items-center justify-content-center">
      <form class="row contact_form" method="POST">
        <div class="col-md-12">
          <div class="form-group">
            <input type="email" id="to" class="form-control" name="username" value="{{user.username}}" readonly>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="Mật khẩu Mới"
              onblur="checkPass6()" />
          </div>
        </div>
        <div class="col-md-12">
          <input type="password" class="form-control" name="newpassword2" id="newpassword2"
            placeholder="Nhập lại mật khẩu Mới" onblur="checkPass()" />
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Mật khẩu cũ" />
          </div>
        </div>
        <div class="col-md-12 text-right">
          <button type="submit" id="submitbutton" value="submit" class="btn_3" disabled>Xác Nhận </button>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-4 " style="font-size: 25px;">
        Thông báo
      </div>
      <div class="col-md-7" style="font-size: 25px;">
        <span id="tb" style="color: red;"></span>
      </div>
    </div>
  </div>
</section>

<!-- jquery plugins here-->
<!-- jquery -->
<script src="/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/js/swiper.min.js"></script>
<!-- swiper js -->


<!-- particles js -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/stellar.js"></script>
<script src="/js/price_rangs.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>

<script>
  function checkPass() {
    console.log("loi pass");

    let password1 = document.getElementById("newpassword").value;
    let password2 = document.getElementById("newpassword2").value;
    if (password1 != password2) {
      document.getElementById("tb").innerHTML = "Nhập lại mật khẩu không đúng";
    }
    else if (password1.length > 5) {
      document.getElementById("tb").innerHTML = " ";
      document.getElementById("submitbutton").disabled = false;
    }
  }

  function checkPass6() {
    let password = document.getElementById("newpassword").value;
    if (password.length < 6) {
      document.getElementById("tb").innerHTML = "Mật khẩu mới phải lớn hơn 6 kí tự";
    }
  }
</script>