<section class="tracking_box_area section_padding">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
            <h4>Thành công. <a href="/" style="color: blue;">Mua sắm ngay!!!</a> </h4>
            <h1></h1>
        </div>
       </div> 
       </div>
       </section>